{% extends 'base.html' %}

{% block content %}
<h3 class="mb-4">{% block title %}Project: {{ project["name"] }}{% endblock %}</h3>
<a class="btn btn-primary" href="{{ url_for('order.new_order') }}">Create a New Order</a>
{% for order in orders %}
<div class="card mt-3" style="width: 30rem;">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-8">
                <h5 class="card-title">{{ order["id"] }}: {{ order["vendor"] }}</h5>
                <p>Item Costs: ${{ order["item_costs"] }}</p>
                <p>Shipping Costs: ${{ order["shipping_costs"] }}</p>
                <span class="badge rounded-pill text-bg-secondary">{{ status_enum[order["status"]] }}</span>
            </div>
            <div class="col-sm-4">
                <a class="w-100 mt-2 btn btn-primary">View</a>
                {% if order["status"] == 0 %}
                    <a class="w-100 mt-2 btn btn-secondary">Edit</a>
                {% endif %}
                {% if order["track_url"] != None %}
                    <a class="w-100 mt-2 btn btn-info">Track</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        Added {{ order["created"] }}
    </div>
</div>
<!-- {% if not loop.last %}
            <hr>
        {% endif %} -->
{% endfor %}
{% endblock %}